BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
TabWidth: 4
ReflowComments: Never

AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: true
AlignConsecutiveBitFields: true
AlignEscapedNewlines: LeftWithLastLine
AlignTrailingComments: true

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: true

BinPackArguments: false
BinPackParameters: OnePerLine

BreakAfterOpenBracketIf: true
BreakBeforeCloseBracketIf: true
BreakAfterOpenBracketLoop: true
BreakBeforeCloseBracketLoop: true
BreakAfterOpenBracketSwitch: true
BreakBeforeCloseBracketSwitch: true

DerivePointerAlignment: false

InsertBraces: true
InsertNewlineAtEOF: true
InsertTrailingCommas: Wrapped

IndentPPDirectives: AfterHash

LineEnding: LF

RemoveEmptyLinesInUnwrappedLines: true


