BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
TabWidth: 4
ReflowComments: Never

AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: true
AlignConsecutiveBitFields: true
AlignEscapedNewlines: LeftWithLastLine
AlignTrailingComments: true

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BinPackArguments: false
BinPackParameters: OnePerLine

DerivePointerAlignment: false

InsertBraces: true
InsertNewlineAtEOF: true
InsertTrailingCommas: Wrapped

IndentPPDirectives: AfterHash

LineEnding: LF



